## Load Dataset's

In [76]:
#Libaries
import pandas as pd

# Load the datasets
brent_oil_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/BrentOilPrices.csv')
gold_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/gld_price_data.csv')
silver_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/LBMA-SILVER.csv')

# Display basic information about the datasets
brent_oil_info = brent_oil_data.shape
gold_info = gold_data.shape
silver_info = silver_data.shape

brent_oil_info, gold_info, silver_info

((8554, 2), (2290, 6), (13736, 4))

## Data Preparation

In [77]:
# Try converting the date with a different format to handle cases like 'Apr 22, 2020'
brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

# Rechecking the rows where conversion to datetime might have failed
brent_oil_invalid_dates = brent_oil_data[brent_oil_data['Date'].isnull()]
brent_oil_invalid_dates

/var/folders/f6/2h1ph12j6r9c8gpllh_52j940000gn/T/ipykernel_8753/1117584179.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

Empty DataFrame
Columns: [Date, Price]
Index: []

In [78]:
# Umbenennen der Spalte 'Price' in 'OIL'
brent_oil_data = brent_oil_data.rename(columns={'Price': 'OIL'})

# Überprüfen, ob die Spalte erfolgreich umbenannt wurde
print(brent_oil_data.head())

        Date    OIL
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

In [79]:
# Dropping the specified columns before merging
gold_data = gold_data.drop(columns=['EUR/USD', 'USO', 'SPX'])
silver_data = silver_data.drop(columns=['USD', 'GBP', 'EURO'])

In [80]:
# Try converting the date with a different format to handle cases like 'Apr 22, 2020'
brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

In [81]:
# Rechecking the rows 
brent_oil_invalid_dates = brent_oil_data[brent_oil_data['Date'].isnull()]
brent_oil_invalid_dates

Empty DataFrame
Columns: [Date, OIL]
Index: []

In [82]:
# For Gold Data: converting to datetime format
gold_data['Date'] = pd.to_datetime(gold_data['Date'], format='%m/%d/%Y')

In [83]:
# For Silver Data: converting to datetime format
silver_data['Date'] = pd.to_datetime(silver_data['Date'])

In [84]:
# Now, let's merge the datasets on the 'Date' column
merged_data = pd.merge(brent_oil_data, gold_data, on='Date', how='inner')
merged_data = pd.merge(merged_data, silver_data, on='Date', how='inner')

In [87]:
# Rundung der Preis-Spalten auf 3 Dezimalstellen
merged_data['OIL'] = merged_data['OIL'].round(3)
merged_data['GLD'] = merged_data['GLD'].round(3)
merged_data['SLV'] = merged_data['SLV'].round(3)

In [89]:
# Display the first few rows of the merged dataset
merged_data.head(10)

        Date    OIL    GLD     SLV
0 2008-01-02  97.01  84.86  15.180
1 2008-01-03  98.45  85.57  15.285
2 2008-01-04  96.87  85.13  15.167
3 2008-01-07  94.19  84.77  15.053
4 2008-01-08  96.37  86.78  15.590
5 2008-01-09  96.76  86.55  15.520
6 2008-01-10  92.80  88.25  16.061
7 2008-01-11  91.86  88.58  16.077
8 2008-01-14  92.58  89.54  16.280
9 2008-01-15  90.87  87.99  15.834

In [91]:
# Saving merged dataset as CSV
merged_data.to_csv('merged_data.csv', index=False)

## Load Dataset's

In [ ]:
#Libaries
import pandas as pd

# Load the datasets
brent_oil_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/BrentOilPrices.csv')
gold_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/gld_price_data.csv')
silver_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/LBMA-SILVER.csv')

# Display basic information about the datasets
brent_oil_info = brent_oil_data.shape
gold_info = gold_data.shape
silver_info = silver_data.shape

brent_oil_info, gold_info, silver_info

((8554, 2), (2290, 6), (13736, 4))

## Data Preparation

In [ ]:
# Try converting the date with a different format to handle cases like 'Apr 22, 2020'
brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

# Rechecking the rows where conversion to datetime might have failed
brent_oil_invalid_dates = brent_oil_data[brent_oil_data['Date'].isnull()]
brent_oil_invalid_dates

/var/folders/f6/2h1ph12j6r9c8gpllh_52j940000gn/T/ipykernel_8753/1117584179.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

Empty DataFrame
Columns: [Date, Price]
Index: []

In [ ]:
# Umbenennen der Spalte 'Price' in 'OIL'
brent_oil_data = brent_oil_data.rename(columns={'Price': 'OIL'})

# Überprüfen, ob die Spalte erfolgreich umbenannt wurde
print(brent_oil_data.head())

        Date    OIL
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

In [ ]:
# Dropping the specified columns before merging
gold_data = gold_data.drop(columns=['EUR/USD', 'USO', 'SPX'])
silver_data = silver_data.drop(columns=['USD', 'GBP', 'EURO'])

In [ ]:
# Try converting the date with a different format to handle cases like 'Apr 22, 2020'
brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

In [ ]:
# Rechecking the rows 
brent_oil_invalid_dates = brent_oil_data[brent_oil_data['Date'].isnull()]
brent_oil_invalid_dates

Empty DataFrame
Columns: [Date, OIL]
Index: []

In [ ]:
# For Gold Data: converting to datetime format
gold_data['Date'] = pd.to_datetime(gold_data['Date'], format='%m/%d/%Y')

In [ ]:
# For Silver Data: converting to datetime format
silver_data['Date'] = pd.to_datetime(silver_data['Date'])

In [ ]:
# Now, let's merge the datasets on the 'Date' column
merged_data = pd.merge(brent_oil_data, gold_data, on='Date', how='inner')
merged_data = pd.merge(merged_data, silver_data, on='Date', how='inner')

In [ ]:
# Rundung der Preis-Spalten auf 3 Dezimalstellen
merged_data['OIL'] = merged_data['OIL'].round(3)
merged_data['GLD'] = merged_data['GLD'].round(3)
merged_data['SLV'] = merged_data['SLV'].round(3)

In [ ]:
# Display the first few rows of the merged dataset
merged_data.head(10)

        Date    OIL    GLD     SLV
0 2008-01-02  97.01  84.86  15.180
1 2008-01-03  98.45  85.57  15.285
2 2008-01-04  96.87  85.13  15.167
3 2008-01-07  94.19  84.77  15.053
4 2008-01-08  96.37  86.78  15.590
5 2008-01-09  96.76  86.55  15.520
6 2008-01-10  92.80  88.25  16.061
7 2008-01-11  91.86  88.58  16.077
8 2008-01-14  92.58  89.54  16.280
9 2008-01-15  90.87  87.99  15.834

In [ ]:
# Saving merged dataset as CSV
merged_data.to_csv('merged_data.csv', index=False)