## Load Dataset's

In [1]:
import pandas as pd

# Load the datasets
brent_oil_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/BrentOilPrices.csv')
gold_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/gld_price_data.csv')
silver_data = pd.read_csv('/Users/mishka/Documents/GitHub/Final-Project/Data/LBMA-SILVER.csv')

# Display basic information about the datasets
brent_oil_info = brent_oil_data.shape
gold_info = gold_data.shape
silver_info = silver_data.shape

brent_oil_info, gold_info, silver_info

((8554, 2), (2290, 6), (13736, 4))

## Data Preparation

In [2]:
# Try converting the date with a different format to handle cases like 'Apr 22, 2020'
brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

# Rechecking the rows where conversion to datetime might have failed
brent_oil_invalid_dates = brent_oil_data[brent_oil_data['Date'].isnull()]
brent_oil_invalid_dates

/var/folders/f6/2h1ph12j6r9c8gpllh_52j940000gn/T/ipykernel_53393/1117584179.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

Empty DataFrame
Columns: [Date, Price]
Index: []

In [4]:
# Dropping the specified columns before merging
gold_data = gold_data.drop(columns=['EUR/USD'])
silver_data = silver_data.drop(columns=['USD', 'GBP', 'EURO'])

In [6]:
# Try converting the date with a different format to handle cases like 'Apr 22, 2020'
brent_oil_data['Date'] = pd.to_datetime(brent_oil_data['Date'], errors='coerce')  # 'coerce' will handle errors

In [7]:
# Rechecking the rows where conversion to datetime might have failed
brent_oil_invalid_dates = brent_oil_data[brent_oil_data['Date'].isnull()]
brent_oil_invalid_dates

Empty DataFrame
Columns: [Date, Price]
Index: []

In [8]:
# For Gold Data: converting to datetime format
gold_data['Date'] = pd.to_datetime(gold_data['Date'], format='%m/%d/%Y')

In [9]:
# For Silver Data: converting to datetime format
silver_data['Date'] = pd.to_datetime(silver_data['Date'])

In [10]:
# Now, let's merge the datasets on the 'Date' column
merged_data = pd.merge(brent_oil_data, gold_data, on='Date', how='inner')
merged_data = pd.merge(merged_data, silver_data, on='Date', how='inner')

In [12]:
# Display the first few rows of the merged dataset
merged_data.head(30)

         Date  Price          SPX        GLD        USO        SLV
0  2008-01-02  97.01  1447.160034  84.860001  78.470001  15.180000
1  2008-01-03  98.45  1447.160034  85.570000  78.370003  15.285000
2  2008-01-04  96.87  1411.630005  85.129997  77.309998  15.167000
3  2008-01-07  94.19  1416.180054  84.769997  75.500000  15.053000
4  2008-01-08  96.37  1390.189941  86.779999  76.059998  15.590000
5  2008-01-09  96.76  1409.130005  86.550003  75.250000  15.520000
6  2008-01-10  92.80  1420.329956  88.250000  74.019997  16.061001
7  2008-01-11  91.86  1401.020020  88.580002  73.089996  16.077000
8  2008-01-14  92.58  1416.250000  89.540001  74.250000  16.280001
9  2008-01-15  90.87  1380.949951  87.989998  72.779999  15.834000
10 2008-01-16  88.10  1373.199951  86.699997  71.849998  15.654000
11 2008-01-17  88.96  1333.250000  86.500000  71.029999  15.717000
12 2008-01-18  89.66  1325.189941  87.419998  71.540001  16.030001
13 2008-01-22  88.11  1310.500000  88.169998  70.550003  15.902000
14 2008-01-23  87.06  1338.599976  87.889999  69.500000  15.900000
15 2008-01-24  87.69  1352.069946  90.080002  70.930000  16.299999
16 2008-01-25  90.96  1330.609985  90.300003  71.910004  16.298000
17 2008-01-28  90.91  1353.959961  91.750000  72.349998  16.549999
18 2008-01-29  92.49  1362.300049  91.150002  72.980003  16.534000
19 2008-01-30  92.46  1355.810059  92.059998  73.080002  16.674999
20 2008-01-31  91.58  1378.550049  91.400002  72.349998  16.818001
21 2008-02-01  91.41  1395.420044  89.349998  70.470001  16.618999
22 2008-02-04  91.09  1380.819946  89.099998  71.370003  16.514999
23 2008-02-05  89.60  1336.640015  87.680000  70.150002  16.167000
24 2008-02-06  88.73  1326.449951  88.949997  69.019997  16.375000
25 2008-02-07  88.55  1336.910034  89.849998  69.800003  16.670000
26 2008-02-08  91.45  1331.290039  91.000000  72.900002  17.025999
27 2008-02-11  93.93  1339.130005  91.330002  74.550003  17.400000
28 2008-02-12  94.28  1348.859985  89.330002  73.589996  17.033001
29 2008-02-13  93.82  1367.209961  89.440002  74.110001  17.132000